### PRIVATE NODE ENVIRONMENT VARIABLES ###

# Private key for admin wallet
PRIVATE_KEY=""

# Lob API key
LOB_API_KEY=""
LOB_ADDRESS_ID=""
LOB_TEMPLATE_ID=""

# Redis URL, used for DDoS protection
REDIS_URL=""
# Salt for storing the hashed addresses in Redis
HASHED_ADDRESS_SALT=""

### PUBLIC BROWSER ENVIRONMENT VARIABLES ###

# Mapbox token
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=""

# IPFS CIDs
NEXT_PUBLIC_CID_METADATA=""
NEXT_PUBLIC_CID_CONTENT=""

# PoR Contract Address
NEXT_PUBLIC_ETHEREUM_CONTRACT_ADDRESS=""

# Blockchain provider API keys
NEXT_PUBLIC_ALCHEMY_API_KEY=""
NEXT_PUBLIC_INFURA_PROJECT_ID=""
NEXT_PUBLIC_ETHERSCAN_API_KEY=""
NEXT_PUBLIC_ARBISCAN_API_KEY=""

NEXT_PUBLIC_MIXPANEL_TOKEN=""
