node_modules/
cache/
build/
artifacts/
coverage*
.env
.DS_STORE
.openzeppelin
lerna-debug.log

packages/example-dao/typechain-types/

packages/generator/out
packages/generator/metadata-output/

packages/subgraph/data/
subgraph.yaml
packages/subgraph/config/hardhat.json
